<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/style.css">
    <title>Zonas de Envios</title>
    <meta name="description" content="ubicacion de nuestro local y mapa de zona de envios">
    <meta name="keywords" content="zona, envio, cadete">
</head>

<body>
    <div class="main_container">
        <header>
            <div class="img-container">
                <picture class="logo">
                    <div class="fondo-logo">
                        <img src="../img/LOGO2_T.png" alt="logo de pagina">
                    </div>
                </picture>
                <picture class="banner">
                    <img src="../img/fondo_header.png" alt="banner de pagina">
                </picture>
                <h1>EL VERDADERO SABOR DE LOS DIOSES</h1>
            </div>
            <nav class="nav">
                <a class="nav-link nav-link__1 " href="../index.html">CARTA</a>
                <a class="nav-link nav-link__2" href="./envios.html">ENVIOS</a>
                <a class="nav-link nav-link__3" href="./preypro.html">PROMOS</a>
                <a class="nav-link nav-link__4" href="./galeria.html">GALERIA</a>
                <a class="nav-link nav-link__5" href="./contacto.html">CONTACTO</a>
            </nav>
        </header>
        <main class="main-envios">
            <div class="panel">
                <h2>Podes pasarlo a buscar por nuestro local</h2>
                <picture>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d849.7651150358384!2d-60.72753717074858!3d-31.577389856302148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd1b6cbb5fcb20908!2zMzHCsDM0JzM4LjYiUyA2MMKwNDMnMzcuMiJX!5e0!3m2!1ses-419!2sar!4v1659360746050!5m2!1ses-419!2sar"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </picture>
            </div>
            <div class="panel">
                <h2>Te lo enviamos a domicilio dentro de estas zonas</h2>
                <picture>
                    <img src="../img/reparto.png" alt="mapa reparto">
                </picture>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__linea">
                <p class="footer__linea__p1">REALIZA TU PEDIDO A NUESTRO WHATSAPP</p>
                <img src="../img/logo_whatsapp_transp.png" alt="">
                <p>342-5430420</p>
            </div>
        </footer>
    </div>
</body>

</html>