@font-face {
    font-family: DIOGENES;
    src: url('DIOGENES.ttf') format('truetype');
}

/* VARIABLES */
:root {
    /* COLOR PALLETS */
    --color1: rgba(255, 255, 255); /* FONDO */
    --color2: rgb(209, 209, 209); /* fondos */
    --color3: rgb(236, 236, 236); /* main */
    --color4: black; /* letras */

    /* SPACINGS */
    --sp-xl: 30px;
    --sp-lg: 20px;
    --sp-md: 15px;
    --sp-sm: 10px;

    /* FONTS FAMILY */
    --font1: DIOGENES;
    --font2: arial;
    /* FONT SIZE */
    --sz1: 3.5rem;
    --sz2: 2.5rem;
    --sz3: 2rem;
    --sz4: 1.8rem;
    --sz5: 1.5rem;
    --sz6: 1.2rem;
    --sz7: 1.0rem;
}

/* -----NORMALIZE----- */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    /* 1 em = 16px  por defecto (refiere al padre)*/
    /* 1 rem = 16px  por defecto (refiere a la raiz)*/

    /* baja los 16px de raiz por defecto a 10px */
    font-size: 62.5%;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* -----BODY----- */
body {
    display: flex;
    justify-content: center;
}

.main_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
}

/* -------HEADER----------- */
header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 280px;
    align-items: center;
    background-color: var(--color3);
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 230px;
    /* align-items: center; */
    justify-content: center;
}
.img-container h1{
    margin: 0 auto;
    font-family: var(--font1);
    font-size: var(--sz2);
    z-index: 120;
    position: absolute;
    top:180px;
}
.logo{
    display: flex;
    width: 100%;
    position: absolute;
    top: 10;
}
.logo img{
    display: flex;
    width: 180px;
    height: 180px;
    min-width: 150px;
    margin: 5px auto;
    z-index: 100;
}
.fondo-logo{
    display: flex;
    width: 190px;
    height: 190px;
    min-width: 150px;
    margin: 0 auto;
    z-index: 100;
    background-color: var(--color3);
    border-radius: 100px;
}

.banner{
    display: flex;
    width: 100%;
    height: 180px;
    max-width: 1600px;

    position: absolute;
    top:25px;
}
.banner img{
    display: flex;
    width: 100%;
    height: 140px;
    z-index: 80;
    object-fit: cover;
}

/* -------NAVEGACION----- */
.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 0 8%;
    background-color: var(--color1);
    font-family: var(--font2);
    font-size: var(--sz5);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-link {
    text-decoration: none;
    color: var(--color4);
    line-height: 30px;
    padding: var(--sp-sm) 16px;
}

.nav-link:hover {
    background-color: black;
    color: var(--color1);
    transition: all .5s;
}

/* ------CONTENIDO PRINCIPAL----- */
main {
    display: flex;
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color3);
}

aside{
    display: inline-block;
}
aside>.nav-carta{
    padding: 5px;
    border: 1px solid rgb(175, 175, 175);

    position:sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--font2);
    font-size: var(--sz4);
}
.nav-carta>.row{
    margin: 5px;
    padding: 0px 10px;
    border-radius: 20px;
    background-color: white;

    display: flex;
}
.nav-carta>.row>.row__logo{
    width: 60px;
}
.nav-carta>.row>.row__nom{
    width: 180px;

    display: flex;
    align-items: center;
    padding-left: 4%;
}


.seccion-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    
}
.seccion-menu__categoria {
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(175, 175, 175);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "tit tit";
    gap: 10px;
    justify-content: center;
}
.categoria__titulo {
    grid-area: tit;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

    font-family: var(--font1);
    font-size: var(--sz4);
}

.categoria__tarjeta {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    height: 162px;

    display: flex;
}
.tarjeta__imagen {
    width: 50%;
    max-width: 140px;
    height: fit-content;
}
.tarjeta__imagen>img {
    border-radius: 20px; 
}
.tarjeta__info {
    width: 70%;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: var(--font2);
    font-size: var(--sz6);
    
}
.info__titulo{
    display: flex;
    text-align: left;
    font-family: var(--font1);
    font-size: var(--sz3);
}
.info__descripcion{
    display: flex;
    text-align: left;
    font-family: var(--font2);
    font-size: var(--sz5);
}


/* SECCION ENVIOS */
.envios__panel{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 45vw;
    justify-items: center;
    width: 50%;
    padding: 40px 10px 50px;
}

.envios__panel h2{
    width: 100%;
    height: 25px;
    text-align: center;
}
.envios__panel picture{
    display: flex;
    width: 90%;
    height: 100%;
    border: 1px solid black;
    background-color: aliceblue;
}
.envios__panel iframe{
    width: 100%;
}

/* SECCION PROMOS Y PRECIOS */
.promos-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-family: var(--font2);
    font-size: var(--sz5);
}
.promo__categoria{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: center;
    text-align: center;
    border-top: 1px solid black;
}
.promo__categoria h2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    justify-content: center;
    text-align: center;
}
.promo__categoria div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    justify-content: center;
    text-align: center;
}
.promo__categoria div h3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    justify-content: center;
    text-align: center;
}
.promo__categoria div p{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

/* SECCION GALERIA */
.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 22vw);
    column-gap: 15px;
    padding: 10px;
}

/* SECCION CONTACTO */

.info-contacto{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(5, 60px);
    column-gap: 15px;
    padding: 50px;
    font-family: var(--font2);
    font-size: var(--sz3);
}

/* FOOTER */
footer {

    border: 1px solid rgb(221, 221, 221);
    background-color: white;
    width: 280px;
    height: 100px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
}

.footer__linea-1 {
    padding: 0 10px;

    display: inline-block;
    text-align: center;

    font-family: var(--font2);
    font-size: 20px;
}

.footer__linea-2 {
    display: flex;
}
.footer__linea-2>img {
    width: 40px;
}
.footer__linea-2>p {
    padding-left: 10px;

    display: flex;
    align-items: center;
    font-family: var(--font2);
    font-size: 25px;
    font-weight: 600;
}


@media (max-width: 1250px){
    .info__titulo{
        font-size: var(--sz4);
    }
    .info__descripcion{
        font-size: var(--sz6);
    }
}

@media (max-width: 1040px){
    aside>.nav-carta{
        font-size: var(--sz5);
    }
    .nav-carta>.row>.row__logo{
        width: 50px;
    }
    .nav-carta>.row>.row__nom{
        width: 150px;
    }
    .categoria__tarjeta {
        height: 140px;
    }
    .info__titulo{
        font-size: var(--sz5);
    }
    .info__descripcion{
        font-size: var(--sz7);
    }

    footer {
        width: 242px;
    }
    
    .footer__linea-1 {
        font-size: 18px;
    }
}

@media (max-width: 815px){
    aside>.nav-carta{
        font-size: var(--sz6);
    }
    .nav-carta>.row>.row__logo{
        width: 40px;
    }
    .nav-carta>.row>.row__nom{
        width: 120px;
    }

    footer {
        width: 202px;

        justify-content: space-evenly;
    }
    
    .footer__linea-1 {
        font-size: 15px;
    }

    .footer__linea-2>img {
        width: 30px;
    }
}

@media (max-width: 768px){
    .primer-panel {
        padding: var(--sp-sm) 4%;
        font-size: var(--sz6);
    }
    
    .encabezado div h1 {
        display: inline;
        text-align: center;
        /* background-color: rgba(255, 255, 255, 0.4); */
        font-family: var(--font1);
        font-size: var(--sz2);
    }

    .nav{
        font-size: var(--sz6);
        padding: var(--sp-sm) 4%;
    }
    .nav-link{
        padding: 0 5px;
        font-weight: 800;
    }

    main {
        padding: 20px 0;
    }

    .nav-carta>.row>.row__nom{
        display: none;
    }

    footer {
        flex-wrap: wrap;
        width: 80%;
        padding-top: 5px;
        height: auto;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    footer p {
        text-align: center;
    }

    /* SECCION ENVIOS */
    .envios__panel{
        grid-template-rows: 25px 80vw;
        width: 80%;
        min-width: 354px;
        padding: 30px 10px 10px;
    }

    .envios__panel picture{
        width: 90%;
    }

    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 32vw);
    }

    .info-contacto{
        padding: 50px 10px;
        font-size: var(--sz6);
    }
}

@media (max-width: 600px){
    .seccion-menu__categoria {
        grid-template-columns: 1fr;
        grid-template-rows: auto ;
        grid-template-areas: "tit";
    }
    .categoria__titulo{
        font-size: var(--sz5);
    }
    .tarjeta__imagen {
        max-width: 120px;
    }
    .tarjeta__info {
        padding: 0 0 0 10px;
    
        display: flex;
        flex-direction: column;
        text-align: left;
        font-family: var(--font2);
        font-size: var(--sz6);
        
    }
}

@media (max-width: 425px){
    .encabezado div{
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 10;
    }
    .encabezado div h1 {
        font-size: var(--sz3);
        min-width: 150px;
    }
    .encabezado div picture {
        min-width: 150px;
    }
    .nav-link{
        padding: 5px 5px;
        font-size: var(--sz6)
    }

    .seccion-menu__categoria{
        padding: 10px 0;
    }

    .envios__panel{
        grid-template-rows: 25px 80vw;
        width: 90%;
        min-width: 300px;
        padding: 30px 10px 10px;
    }

    .galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 46vw);
        column-gap: 15px;
        padding: 10px;
    }

    .info-contacto{
        grid-template-columns: 100px auto;
    }
    
}

@keyframes ef_logo{
    0%{
        transform: rotate(360deg);
    }

    20%{
        transform: rotate(0deg);
    }
}
@keyframes ef_tit{
    5%{
        transform: scale(90%);
    }

    14%{
        transform: scale(110%);
    }

    20%{
        transform: scale(100%);
    }
}