body {
    display: flex;
    justify-content: center;
    .main_container{
        @extend body;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1600px;
        background-color: map-get($color , c-bg1 );
    }
}
