body {
    @include flex(row,wrap,center,stretch);
    .main_container{
        @extend body;
        width: 100%;
        max-width: 1600px;
        background-color: map-get($color , c-bg1 );
    }
}