.footer{
    @include w-h(100%,50px);
    max-width: 1600px;
    background: linear-gradient(0deg,black 70%,rgba(255, 255, 255, 0) 90%);

    @include flex(row,nowrap,center,center);
    position: fixed;
    bottom: 0;
    &__linea{
        @include flex(row,nowrap,center,center);
        height: 40px;
        padding-top: 10px;
        img{
            @include w-h(30px,30px)
        }
        p{
            @include font($f-neutral,1rem);
            font-weight: 800;
            color: white;
            padding: 0 16px 0 5px;
        }
    }
}

@media (max-width: 500px){
    .footer>.footer__linea>.footer__linea__p1{
        display: none;
    }
}